.bfSlugFieldWrapper {
  position: relative;

  .container {
    display: flex;
  }

  .slugInput {
    flex-grow: 2;
  }

  .srOnly {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
      clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

  .checkbox {
    position: absolute;
    top: calc(50% - 1rem);
    right: 1rem;
    display: flex;
    align-items: center;
  }
}

