@import 'payload/scss';

.add-color.btn {
  margin: 0;
  padding: 0;
  border: $style-stroke-width-m solid #fff;
}

.bfColourPickerFieldWrapper {
  max-width: fit-content;
  margin-right: 1rem;
  margin-bottom: $baseline;

  .react-colorful,
  .react-colorful__saturation,
  .react-colorful__alpha,
  .react-colorful__hue {
    border-radius: 0;
  }

  .colourPickerWrapper {
    &.readOnly {
      &.react-colorful__pointer {
        &:hover {
          cursor: not-allowed;
        }
      }
    }
  }

  &__btn.btn {
    margin: base(0.5);

    &:first-of-type {
      margin-left: unset;
    }
  }

  .manual-field-input {
    // Payload exports a mixin from the vars file for quickly applying formInput rules to the class for our input
    @include formInput;
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
  }

  .previewField {
    @include formInput;
    height: auto;
    padding: 0.25rem 0.75rem;
  }

  .srOnly {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

  .floatingPicker {
    position: absolute;
    z-index: 20;
  }
}

.chip {
  border: $style-stroke-width-s solid #fff;
  height: base(1.25);
  width: base(1.25);
  box-shadow: none;

  &--selected {
    box-shadow: 0 0 0 $style-stroke-width-s $color-dark-gray;
  }

  &--clickable {
    cursor: pointer;
  }
}
